html{
	background: #f2eff0;
}

body{
	background: #d8bcbc;
	margin: 0 auto;
	max-width: 960px;
	font-family: arial, "helvetica neue", sans-serif; 
}
a{
	text-decoration: none;
	color: #373535;
}
/*Header*/
header{
	height: 18vh;
	padding-top: 20px;
}
ul{
	padding: 0; 
}
li{
	display: inline;
	padding: 10px;
	font-size: 1em;
}
header li:first-child{
	border-right: 3px solid #bb7d7d;
}
.left{
	width: 33.3%;
	float: left;
}
.left ul{
	padding-left: 30px;
	padding-top: 50px; 
}
.right{
	width: 33.3%;
	float: right;
}
.right ul{
	float: right;
	padding-right: 30px;
	padding-top: 50px; 
}
#logo{
	width: 33.3%;
	float: left;
	text-align: center;
}
#logo img{
	width: 40%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
#logo img:hover, #logo img:focus{
	transform: rotate(45deg);
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.background{
	background: url("img/image-1.jpeg");
	height: 50vh;
	transition: background 0.5s ease-in-out;
	color: #000;
	text-shadow: 10px 10px 10px #fff;
}
.background p, .background h3{
	margin: 0;
	padding-top: 60px;
	color: #bb7d7d;
	text-align: center;
	font-size: 2em;
}
.background.new{
  background: url("img/image-5.jpeg");
  height: 50vh;
 }
 .background.new p, .background.new h3{
  color: #fff;
  text-shadow: 10px 10px 10px #000;
}
form{
	padding-top: 30px;
	text-align: center;
}
#email{
	width: 25%;
	height: 25px;
	border-radius: 15px; 
	padding: 3px;
	margin-right: 10px; 
	outline: none;
}
#click{
	height: 31px;
	border-radius: 15px;
}
.box{
	position: relative;
	float: left;
	margin: 15px 0;
}
.box img{
	position: relative;
	z-index: 1;
	margin-left: 15px; 
	transition: all 0.3s ease-in-out;
}
.box p{
	position: absolute;
	width: 100%;
	top: 15%;
	z-index: 2;
	text-align: center;
	font-size: 1.5em;
	margin-left: 15px;
	transition: all 0.3s ease-in-out;
}
.box:hover p{
	transform: scale(1.2);
}
.box:hover img{
	opacity: 0.7;
}
.card p{
	color: #fff;
	text-shadow: 10px 10px 10px #000;
}
/*footer*/
footer img{
	width: 5%;
    border-radius: 50%;
}
footer{
	padding-bottom: 20px;
	margin: 10px;
	text-align: center;
	font-size: 0.75em;
}







