*{
	box-sizing: border-box;
}
body{
	max-width: 1200px;
	margin: 0 auto;
	background-color: #3c8a7d;
}
.container{
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 300px 1fr;
	overflow: hidden;
}
img{
	display: block;
	transition: all 1s ease-in-out;
}
img:before{
	content: '';
	display: block;
}
img:hover{
	transform: scale(1.1);
	border: 50px solid #fff;
}
div {
  opacity: 1;
  transition: 1s opacity;
}

div.fade {
    opacity: 0;
    transition: none;
}